<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{106,398},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{106,426},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{903,244},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{903,282},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{931,244},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{931,282},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14.5,14.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{92,210},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{138,52}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{870,448},{138,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{144,62}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{870,324},{144,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{150,58}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{792,1},{150,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_downfog04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{144,58}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{870,388},{144,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_downfog05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{146,48}</string>
                <key>spriteSourceSize</key>
                <string>{196,102}</string>
                <key>textureRect</key>
                <string>{{1,454},{146,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_fog01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{157,77}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{705,168},{157,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_fog02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,2}</string>
                <key>spriteSize</key>
                <string>{223,103}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{1,229},{223,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_fog03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-3}</string>
                <key>spriteSize</key>
                <string>{165,99}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{691,1},{165,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_fog04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{167,111}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{592,171},{167,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_fog05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{207,99}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{92,1},{207,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_fog06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,8}</string>
                <key>spriteSize</key>
                <string>{183,83}</string>
                <key>spriteSourceSize</key>
                <string>{341,161}</string>
                <key>textureRect</key>
                <string>{{273,187},{183,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fx_hit01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{91,86}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{903,156},{91,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_hit02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{149,184}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{193,1},{149,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_hit03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{165,186}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{106,210},{165,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{226,89}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{154,105}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{149,398},{154,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{168,107}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{582,1},{168,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{146,153}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{870,1},{146,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,2}</string>
                <key>spriteSize</key>
                <string>{156,133}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{735,327},{156,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{162,107}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{626,340},{162,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{154,117}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{784,168},{154,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{150,141}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{483,353},{150,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{170,115}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{475,181},{170,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{178,117}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{463,1},{178,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{180,117}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{344,1},{180,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{180,115}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{358,183},{180,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sheep_touch_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{176,129}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{305,372},{176,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>actors.png</string>
            <key>size</key>
            <string>{1018,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74ba97892f9e799fb1d730a4642e141:962fb10a201f72eadfdeb5bd6d97b345:a8a8d655413f0a48afc1b310ef1c562a$</string>
            <key>textureFileName</key>
            <string>actors.png</string>
        </dict>
    </dict>
</plist>
